<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <title>Edit blog</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="add_section container">
        <form action="/api/blogs/edit" method="POST" class="form" enctype="multipart/form-data">
            <div class="add_window">
                <h2>Редактирование блога</h2>
                <div class="log_inp">
                    <input type="text" placeholder="Введите заголовок блога" name="title" value="<%= blog.title  %>">
                    <div class="category-dropdown">
                        <fieldset>
                            <input type="hidden" value="<%= blog._id %>" name="id">
                        </fieldset>
                        <fieldset class="fieldset">
                            <select  name="category" class="add_window_input">
                                <option selected>Выберите категорию</option>
                                <% categories.forEach(category => { %>
                                    <option value="<%= category._id %>" <%= (blog.category && blog.category.toString() === category._id.toString()) ? 'selected' : '' %>><%= category.name %></option>
                                <% }); %>
                            </select>
                        </fieldset>
                    </div>
                    <label class="choose_btn">
                        <input type="file" id="imageUpload" accept="image/*" name="image">
                        <p>Выберите картинку</p>
                    </label>                    
                    <input type="text" class="description-input" placeholder="Введите описание блога" name="overview" value="<%= blog.overview  %>">
                </div>
                <div class="create_btn">
                    <button class="log_button" type="submit">
                        <p>Сохранить</p>
                    </button>
                </div>
            </div>
        </form>
    </section>
</body>
</html>