<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <title>My Blogs</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="prg_blog container">
        <div class="left_side_prg">
            <div class="myblog_tittle">
                <h2>Мои блоги</h2>
                <div class="add_new_blog">
                    <a href="/addnewblog">
                        <% 
                            if(loginUser._id == user.id){                       
                        %> 
                        <div class="btn_addblog">
                            <button>Новый блог</button>
                        </div>
                        <%       
                            }
                        %>
                    </a>
                </div>
            </div>
            <div class="blog_info">
                <% if (blogs.length > 0) { %>
                    <% blogs.forEach(blog => { %>
                      <div class="blog">
                        <img src="<%= blog.image %>" alt="">
                        <div class="edit_blog">
                            <a href="/blog_details/<%= blog._id %>"><%= blog.title %></a>
                            <div class="menu-container">
                                <% 
                                if(loginUser._id == user.id){                       
                                %> 
                                <div class="edit_blog_btn">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                    <p>Ещё</p>
                                </div>
                                <div class="menu-options">
                                    <div class="option edit">
                                        <a href="/editblog/<%= blog.id %>">Редактировать</a>
                                    </div>
                                    <div class="option delete">
                                        <a onclick="deleteBlog('<%= blog._id %>', '<%= blog.author._id %>')" href="#" >Удалить</a>
                                    </div>                                                                   
                                </div>
                                <%       
                                    }
                                %>
                            </div>
                        </div>
                        <p><%= blog.overview %></p>
                      </div>
                      <div class="view_line">
                        <div class="view_line_icon">
                            <i class="fa-regular fa-calendar"></i>
                            <p><%= blog.created_at.getDate() + '.' + (blog.created_at.getMonth() + 1) + '.' + blog.created_at.getFullYear() %></p>
                        </div>
                        <div class="view_line_icon">
                            <i class="fa-regular fa-eye"></i>
                            <p><%= blogViews[blog._id] %></p>
                        </div>
                        <div class="view_line_icon">
                            <i class="fa-regular fa-comment"></i>
                            <p>4</p>
                        </div>
                        <div class="view_line_icon">
                            <i class="fa-regular fa-comments"></i>
                            <p><%= blog.category ? blog.category.name : 'Нет категории' %></p>
                        </div>
                        <div class="view_line_icon">
                            <i class="fa-regular fa-user"></i>
                            <p><%= blog.author.full_name %></p>
                        </div>
                    </div>
                    <% }); %>
                  <% } else { %>
                    <p>Вы ещё не создали ни одного блога.</p>
                  <% } %>                  
            </div>
        </div>
        <div class="profile_info"> 
            <div class="profile_ava">
                <img src="/img/avatar2.jpg" alt="">
            </div>
            <p class="bold"><%=user.full_name %></p>
            <p>В основном пишу про веб - разработку, на React & Redux</p>
            <p><%= blogCount %> постов за все время</p>
            <% 
            if(loginUser._id == user.id){                       
            %> 
            <div class="edit_profile">
                <a href="/editprofile">
                    <div class="btn_edit_profile">
                        <button>Редактировать</button>
                    </div>
                </a>
            </div>
            <%       
                }
            %>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/deleteBlog.js"></script>
    <script src="/js/editBlog.js"></script>
</body>
</html>