<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <title>Registration</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="log_section">
        <div class="log_window">
            <h2>Регистрация</h2>
            <form action="/api/signup" method = "POST">
                <div class="log_inp">
                    <input type="text" name="email" placeholder="Введите e-mail">
                    <input type="text" name="full_name" placeholder="Введите полное имя">
                    <input type="password" name="password" placeholder="Введите пароль">
                    <input type="password" name="re_password" placeholder="Подтвердите пароль">                    
                </div>
                <div class="inlog_btn">
                    <button class="log_button">
                        <p>Зарегестрироваться</p>
                    </button>
                </div>
            </form>
        </div>
        <% if (message) { %>
            <script>
                alert("<%= message %>");
            </script>
        <% } else if (error) { %>
            <script>
                alert("Ошибка: <%= error %>\nДетали ошибки: <%= details %>");
            </script>
        <% } %>
    </section>
</body>
</html>